/*--------------------------------*/
/*               Form              */

form {
    display: flex;
    width: 550px;
    margin: 100px auto;
    padding: 30px 0;
    border-radius: 20px;
    background-color: #573469;
    box-shadow: 4px 4px 1px 3.5px #7f51ae;
    color: white;
    flex-direction: column;
    justify-content: center;
}

form > h1 {
    text-align: center;
    margin: 0 0 25px;
    font-size: 34px;
}

.input__checkbox, .select__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.select__wrapper {
    width: 400px;
    margin: 7px auto;
}

.input__checkbox span, .select__wrapper > label, .select__wrapper > select {
    width: 50%;
    display: block;
}

/*--------------------------------*/
/*           Checkboxes           */

.toggle__checkbox {
    display: none;
}

.toggle__label {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle__label:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #6f4e84;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle__label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(71, 135, 134, 0.5);
    transition: all 0.2s ease;
}

.toggle__label span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(84, 234, 204, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.toggle__checkbox:checked + .toggle__label:before {
    background: #a2f3d5;
}

.toggle__checkbox:checked + .toggle__label span {
    background: #3ea57e;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.toggle__checkbox:checked + .toggle__label span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


/*--------------------------------*/
/*             Select             */

.select__wrapper {
    position: relative;
}

.select__wrapper > label {
    display: block;
    padding: 0 15px;
    min-width: 200px;
}

.select__wrapper select, .select-hide {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #65428c;
    position: relative;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 20px;
    min-width: 250px;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #65428c;
    border: 2px solid #4ecf9f;
    border-radius: 15px;
    top: 100%;
    left: 44%;
    right: -5.5%;
    z-index: 99;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

form button {
    width: 60%;
    border: none;
    padding: 10px 20px;
    margin: 20px auto 10px;
    border-radius: 30px;
    background-color: #6f4e84;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    transition: background-color 0.33s ease-in-out;
}

form button:hover {
    background-color: #3ea57e;
    transition: background-color 0.2s ease-in-out;
}